.swiper {
  width: 100%;
  .swiper-button-prev {
    background-image: url("../../assets/icons/leftchervon.svg");
    left: 0; 
    transform: translateX(-100px);
  }
  
  .swiper-button-next {
    background-image: url("../../assets/icons/rightchervon.svg");
    right: 0; 
    transform: translateX(100px);
  }
  &:hover{
    .swiper-button-prev {
      background-image: url("../../assets/icons/leftchervon.svg");
      transform: translateX(10px);
    }
    
    .swiper-button-next {
      background-image: url("../../assets/icons/rightchervon.svg");
      transform: translateX(-10px);
    }

  }
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  top: 40%; 
  width: 56px; 
  height: 56px; 
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
  transition: all 0.2s linear;
  z-index: 100;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  box-shadow: 0 2px 20px rgba(0,0,0,0.2); /* Adjusted hover shadow */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}
