@import "../../app/globals.css";
.email {
  border-radius: 12px;
  background-color: #efefef;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__description {
    font-size: 20px;
  }
  &__form {
    display: flex;
    gap:10px;
    input {
      padding: 17px 22px;
      border-radius: 12px;
      &::-webkit-inner-spin-button,&::-webkit-outer-spin-button{
        -webkit-appearance: none;
      }
    }
    button {
      border-radius: 12px;
      background-color: var(--main-color);
      color: white;
      padding: 17px;
      width: 185px;
      transition: all .3s linear;
      &:hover{
        transform: scale(0.9);
      }
    }
  }
}

@media (max-width: 1310px) {
  .email {
    gap: 20px;
    &__description {
      flex-grow: 1;
      text-align: center;
    }
    &__form {
      flex-grow: 1;
      display: flex;
      gap:10px;
      input {
        flex-grow: 3;
      }
      button {
        flex-grow: 1;
      }
    }
  }
}
@media (max-width: 840px) {
  .email {
    &__form {
      display: flex;
      flex-wrap: wrap;
      gap:10px;
      input {
        flex-grow: 3;
      }
      button {
        flex-grow: 1;
      }
    }
  }
}
@media (max-width: 680px) {
  .email {
    &__form {
      input {
        flex-grow: 1;
      }
      button {
        flex-grow: 1;
      }
    }
  }
}