@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
body{  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  border: none;
}

.title {
  font-weight: 800;
  font-size: 24px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid #E6E6E6;
}
.subtitle {
  font-size: 16px;
  color: var(--subtitle);
  margin-bottom: 45px;
}

:root {
  --main-color: rgb(238, 28, 37);
  --main-color-opacity: rgb(238, 28, 37, 0.1);

  --subtitle: #737085;
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

.container {
  margin: 0 auto;
  width: 1360px;
  overflow: hidden;
}
.container .left {
  width: 18%;
}
.container .right {
  width: 82%;
  padding-left: 45px;
}
@media (max-width: 1400px){
  .container{
    width:94%;
  }
}