@import "../../app/globals.css";

header {
  position: sticky;
  top: -90px;
  z-index: 15;
  .top {
    height: 90px;
    width: 100%;
    z-index: 10;
    transition: 0.4s;
    .top-container {
      display: flex;
      align-items: center;
      height: 100%;
      .top-left {
        height: 100%;
        .logo {
          position: relative;
          display: inline-block;
          height: 80px;
          width: 150px;
        }
      }
      .top-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navs {
          display: flex;
          gap: 24px;
          cursor: pointer;
          a {
            transition: 0.3s linear;
            &:hover {
              color: var(--main-color);
            }
          }
          .active {
            color: var(--main-color);
          }
        }
        .address {
          display: flex;
          gap: 30px;
          .box {
            display: flex;
            align-items: center;
            gap: 5px;
            &__icon {
              height: 40px;
              width: 40px;
              position: relative;
            }
            &__infos {
              &__top {
                font-size: 12px;
                font-weight: 400;
                opacity: 0.6;
              }
              &__bottom {
                font-size: 15px;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
  .bottom {
    height: 90px;
    background-color: white;
    display: flex;
    width: 100%;
    align-items: center;
    z-index: 10;
    transition: 0.4s;
    .bottom-container {
      display: flex;
      height: 56px;
      .bottom-left {
        .active {
          background-color: var(--main-color-opacity);
          color: var(--main-color);
        }
      }
      .bottom-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .bottom-nav {
          display: flex;
          gap: 5px;
          .active {
            background-color: var(--main-color-opacity);
            color: var(--main-color);
          }
        }
        .two-btn {
          display: flex;
          padding: 2px;
          background-color: var(--main-color);
          border-radius: 8px;
          transition: all 0.3s linear;
          &:hover {
            background-color: rgba(238, 28, 37, 0.8);
          }
          button {
            padding: 12px 22px;
          }
          .like-btn {
            border-radius: 8px;
            display: flex;
            align-items: center;
            gap: 5px;
            color: white;
          }
          .cart-btn {
            border-radius: 6px;
            display: flex;
            align-items: center;
            background-color: white;
          }
        }
      }
    }
  }
  .under {
    height: 80px;
    width: 100%;
    background-color: white;
    display: none;
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        position: relative;
        display: inline-block;
        height: 80px;
        width: 150px;
      }
      .burger {
        height: 30px;
        width: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        span {
          display: inline-block;
          height: 3px;
          width: 100%;
          background-color: black;
        }
      }
    }
  }
  .burger-menu {
    position: absolute;
    background-color: white;
  }
  .open {
    right: 0;
  }
}

.nav-btns {
  display: flex;
  align-items: center;
  padding: 14px 24px;
  background-color: #0000000d;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.4s;
  width: fit-content;
  &:hover {
    background-color: var(--main-color-opacity);
    color: var(--main-color);
  }
}

@media (max-width: 1300px) {
  header {
    position: sticky;
    top: 0;
    z-index: 15;
    .top {
      display: none;
    }
    .bottom {
      display: none;
    }
    .under {
      display: block;
      .logo,
      .burger {
        z-index: 100;
      }
      .burger-menu {
        top: -1000px;
        z-index: 5;
        width: 100%;
        text-align: center;
        border-radius: 0 0 16px 16px;
        transition: all 0.5s linear;
        ul {
          padding: 30px 20px;
          li {
            font-size: 24px;
            margin: 20px 0;
            transition: all 0.3s linear;
            &:hover {
              color: var(--main-color);
            }
          }
          .active {
            color: var(--main-color);
          }
        }
      }
      .open {
        top: 80px;
      }
    }
  }
}
@media (max-width: 834px) {
  header {
    .top {
      display: none;
    }
    .bottom {
      display: none;
    }
    .under {
      display: block;
      .logo,
      .burger {
        z-index: 100;
      }
      .burger-menu {
        top: -1000px;
        z-index: 5;
        width: 100%;
        text-align: center;
        border-radius: 0 0 16px 16px;
        transition: all 0.5s linear;
        ul {
          padding: 30px 20px;
          li {
            font-size: 18px;
            margin: 20px 0;
            transition: color 0.3s linear;
            &:hover {
              color: var(--main-color);
            }
          }
          .active {
            color: var(--main-color);
          }
        }
      }
      .open {
        top: 80px;
      }
    }
  }
}
