footer {
  margin-top: 110px;
  .top {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    &__left {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-weight: 700;
      font-size: 40px;
      display: inline-block;
    }
    &__right {
      font-weight: 700;
      font-size: 24px;
    }
  }
  .mid {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    &__left {
      max-width: 560px;
      width: 80%;
      flex-wrap: wrap;
      flex-direction: column;
      height: 120px;
      display: flex;
      font-size: 16px;
      gap: 24px 60px;
    }
    &__right {
      text-align: end;
      p {
        font-size: 16px;
      }
      .comunity {
        margin-top: 30px;
        display: flex;
        justify-content: flex-end;
        gap: 24px;
        a {
          cursor: pointer;
          &:hover {
            svg {
              transform: scale(1.2);
            }
          }
          svg {
            transition: all 0.3s linear;
          }
        }
      }
    }
  }
}

@media (max-width: 1010px) {
  footer {
    .top {
      flex-wrap: wrap;
    }
    .mid {
      flex-wrap: wrap;
      &__left {
        margin: 0 auto 40px auto;
        text-align: center;
      }
      &__right {
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

@media (max-width: 740px) {
  footer {
    .top {
      flex-wrap: wrap;
    }
    .mid {
      flex-wrap: wrap;
      &__left {
        margin: 0 auto 40px auto;
        text-align: center;
        height: 250px;
      }
      &__right {
        margin: 0 auto;
        text-align: center;
        .comunity{
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  footer {
    .mid {
      &__left {
        height: 460px;
      }
      &__right {
        margin: 0 auto;
      }
    }
  }
}
