footer {
  margin-top: 110px;
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding-bottom: 40px;
    .footer__left {
      .footer__title {
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: 700;
        font-size: 40px;
        display: inline-block;
        line-height: 48px;
        margin-bottom: 38px;
      }
      .footer-navs {
        padding-left: 20px;
        max-width: 560px;
        width: 80%;
        flex-wrap: wrap;
        flex-direction: column;
        height: 120px;
        display: flex;
        font-size: 16px;
        gap: 24px 60px;
      }
    }
    .footer__right {
      .footer__title {
        margin-bottom: 38px;
        line-height: 48px;
        font-weight: 700;
        font-size: 24px;
        text-align: end;
      }
      .footer__address {
        text-align: end;
        p {
          font-size: 16px;
        }
        .socials {
          margin-top: 30px;
          display: flex;
          justify-content: flex-end;
          gap: 24px;
          a {
            cursor: pointer;
            &:hover {
              svg {
                transform: scale(1.2);
              }
            }
            svg {
              transition: all 0.3s linear;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  footer {
    .footer-container {
      .footer__right {
        padding-left: 20px;
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@media (max-width: 660px) {
  footer {
    .footer-container {
      .footer__left {
        flex-grow: 1;
        .footer-navs {
          height: 240px;
        }
      }
      .footer__right {
        flex-grow: 1;
        justify-content: start;
        .footer__address {
          text-align: start;
          .socials {
            display: flex;
            justify-content: start;
          }
        }
      }
    }
  }  
}


@media (max-width: 530px) {
  footer {
    .footer-container {
      .footer__left {
        flex-grow: 1;
      }
      .footer__right {
        flex-grow: 1;
        justify-content: start;
        .footer__address {
          text-align: start;
          .socials {
            display: flex;
            justify-content: start;
          }
        }
      }
    }
  }  
}
