@import "../../app/globals.css";

.breadcrumb {
  margin: 15px 0 30px 0;
  ul {
    display: flex;
    padding: 0;
    gap: 6px;
    li {
      font-size: 13px;
      list-style: none;
      a {
        color: #282828;
        &:hover {
          color: var(--main-color);
        }
        span {
          color: black;
          margin-left: 10px;
        }
      }
      div {
        span {
          color: var(--main-color);
        }
      }
    }
  }
}
